.footer_container {
  background-color: rgb(158, 158, 158);
  /* position: absolute; */
  /* bottom: 0; */
  width: 100%;
  color: white;
}
.footer_container > ul {
  display: flex;
  list-style-type: none;
}

.footer_lists {
  justify-content: space-around;
  align-items: center;
}

.footer_logo {
  width: 100px;
  padding-right: 20px;
}

.footer_list {
  text-decoration: none;
  color: white;
}
.footer_list:hover {
  color: rgb(175, 40, 40);
  text-decoration: none;
}

.privacy {
  text-align: center;
}
