.signup__container {
  max-width: 600px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.signup__login {
  background-color: rgb(42, 124, 42);
  margin-top: 2%;
  color: white;
  padding: 5px 10px;
}

.signup {
  background-color: #f8f9fa;
  margin-top: -15px;
}
